<html>

<head>
    <title>Table Data Addition</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
</head>

<body>
    <div class="container">
        <table id="table" data-height="460">
            <thead>
                <tr>
                    <th data-field="id">id</th>
                    <th data-field="userName">ФИО</th>
                    <th data-field="email">Email</th>
                    <th data-field="phoneNumber">Роль</th>
                    <th>Act</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<script>
    var $table = $('#table');
    var mydata =
        [
            {
                "id": "1",
                "userName": "oxxxymiron",
                "normalizedUserName": "OXXXYMIRON",
                "email": "test@asp.net",
                "normalizedEmail": null,
                "emailConfirmed": false,
                "passwordHash": "AQAAAAEAACcQAAAAECeTpirMQ/5y4c83H5RY8pe8tt+EEkl+2PBJWK9/QAeJrf9gQyS+ASuvdbjVR1WdDg==",
                "securityStamp": "GD5JDGUE7K2RWYXGLNXFFF6ZA4UHP7GT",
                "concurrencyStamp": "2bfe4c92-74ed-4d50-b7fc-2a0885b9a2c3",
                "phoneNumber": null,
                "phoneNumberConfirmed": false,
                "twoFactorEnabled": false,
                "lockoutEnd": null,
                "lockoutEnabled": true,
                "accessFailedCount": 0
            },
            {
                "id": "2",
                "userName": "kreo",
                "normalizedUserName": "KREO",
                "email": "kreo@gmail.com",
                "normalizedEmail": null,
                "emailConfirmed": false,
                "passwordHash": "AQAAAAEAACcQAAAAEAl64ylSHNqDpdGCDuna8pB0gKv/euZ60U21mSfNf1ZIUjuWtDQ030hbN23QytgPXw==",
                "securityStamp": "ZXHEU4XQFFYO4ZT2QSZX4ILP7LLCUJIR",
                "concurrencyStamp": "b14323c8-d771-42d1-8bac-f30904bc0f45",
                "phoneNumber": null,
                "phoneNumberConfirmed": false,
                "twoFactorEnabled": false,
                "lockoutEnd": null,
                "lockoutEnabled": true,
                "accessFailedCount": 0
            },
            {
                "id": "595155f5-13f9-4ffb-8fc1-1957fe93db9e",
                "userName": "fatalshot",
                "normalizedUserName": "FATALSHOT",
                "email": "fatal@shot.org",
                "normalizedEmail": "FATAL@SHOT.ORG",
                "emailConfirmed": false,
                "passwordHash": "AQAAAAEAACcQAAAAEN8C8n8Ov4OU5BF2Sb3JehgFCC0vtgVzyjKmkMTdAuInrMd2Z13aFqS8opiRHz/tkg==",
                "securityStamp": "4YRF7TUCOT7O2CU7C5PAAVRI2D4BZKYI",
                "concurrencyStamp": "cea20fac-faf5-42eb-86e9-f2e026f7a273",
                "phoneNumber": "user",
                "phoneNumberConfirmed": false,
                "twoFactorEnabled": false,
                "lockoutEnd": null,
                "lockoutEnabled": true,
                "accessFailedCount": 0
            }
        ];
    /*$(function (){
        $.getJSON(environment.apiUrl + '/Identity/GetUsers',
            (data) => {
                this.mydata = data;
            });
    });*/
    $(function () {  
        $('#table').bootstrapTable({
            data: mydata
        });
    });
</script>

</html>